<!DOCTYPE html>
<html ng-app="DeficitBusters">
<head>
    <title>Deficit Busters</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Charts -->
    <script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
	<link rel="stylesheet" href="node_modules/angular-chart.js/dist/angular-chart.css">

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css" />
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>

    <!-- Extra styles for this example -->
    <style>
    .odometer {
        font-size: 50px;
    }
    .controls {
        width: 50%;
    }
    </style>
    <script>
    </script>
 
</head>
<body ng-controller="MainController">
 
    <div id="odometer" class="odometer">{{debtCounter}}</div>
    <div class="controls">
	    <md-content style="margin: 16px; padding:16px">
            <h3>Budget Breakdown</h3>
            <div layout>
                <div flex="30" layout layout-align="center center">
                    <span class="md-body-1">Things That Go Boom</span>
                </div>
                <md-slider flex min="0" max="255" ng-model="budget1" aria-label="red" id="red-slider" class></md-slider>
            </div>
            <div layout>
                <div flex="30" layout layout-align="center center">
                    <span class="md-body-1">Finding Aliens</span>
                </div>
                <md-slider flex min="0" max="255" ng-model="budget2" aria-label="red" id="red-slider" class></md-slider>
            </div>
            <div layout>
                <div flex="30" layout layout-align="center center">
                    <span class="md-body-1">Teaching the Chilrens</span>
                </div>
                <md-slider flex min="0" max="255" ng-model="budget3" aria-label="red" id="blue-slider" class></md-slider>
            </div>
        </md-content>
		<canvas id="pie" class="chart chart-pie"
            chart-data="pieData" chart-labels="labels">
        </canvas> 
    </div>
     
</body>
</html>
