<!DOCTYPE html>
<html ng-app="DeficitBusters">
<head>
    <title>Deficit Busters</title>

    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

	<!-- Angular Charts -->
	<link rel="stylesheet" href="node_modules/angular-chart.js/dist/angular-chart.css">

    <!-- Odometer includes -->
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css" />

    <style>
        body {
            padding: 40px;
        }

        .header_div {
            width: 50%;
            margin: 0 auto;
        }
        .odometer {
            font-size: 50px;
        }

        .column {
            width: 60%;
            float: left;
        }

        .column2 {
            width: 30%;
            float: left;
        }

        .chart {
            height: 50px;
        }
    </style>
    <script>
    </script>
 
</head>
<body ng-controller="MainController">
 
    <div>
        <div class="header_div">
            <h1>America's National Debt</h1>
            <div id="odometer" class="odometer">{{debtCounter}}</div>
        </div>
    </div>
    <div class="column">
        <div class="controls">
                <md-content style="margin: 16px; padding:16px">
                    <h3>Budget Breakdown</h3>
                    <div ng-repeat="budgetItem in budgetItems track by $index">
                        <div layout>
                            <div flex="30" layout layout-align="center center">
                                <span class="md-body-1">{{budgetItem.name}}</span>
                            </div>
                            <md-slider flex min="0" max="255" ng-model="budgetItem.amount" aria-label="red" id="red-slider" class="{{budgetItem.colorClass}}"></md-slider>
                            {{budgetItem.amount}}
                        </div>
                    </div>
                </md-content>
        </div>
    </div>
    <div class="column2" style="height: 50px">
        <canvas id="pie" class="chart chart-pie"
            chart-data="pieData" chart-labels="labels">
        </canvas> 
        <canvas id="bar" class="chart chart-bar"
            chart-data="barData" chart-labels="labels"> chart-series="series"
        </canvas>
    </div>
     
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Charts -->
    <script src="node_modules/angular-chart.js/node_modules/chart.js/Chart.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/lodash/4.5.0/lodash.min.js"></script>

</body>
</html>
