details summary::-webkit-details-marker {
  display: none;
}
.budgetItem .ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.budgetItem .ng-enter-active {
  opacity: 1;
}
.budgetItem .ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.budgetItem .ng-leave-active {
  opacity: 1;
}
.budgetItem .ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.budgetItem .ng-move-active {
  opacity: 1;
}
.padleft {
  padding-left: 20px;
}
.statText {
  float: left;
  width: 40%;
  text-align: right;
}
.expenses {
  border-bottom: 1px solid black;
}
.bookend {
  clear: both;
}
.header_div {
  width: 65%;
  margin: 0 auto;
}
.centered_text {
  text-align: center;
}
